<mat-form-field appearance="fill" class="input-width">
  <mat-label>{{ label }}</mat-label>
  <input matInput [matAutocomplete]="autoABC" placeholder="Hero Name" type="text" #searchVarBox (input)="search(searchVarBox.value)"/> <!-- criando variavel de template -->

  <button mat-icon-button matSuffix
  *ngIf="searchVarBox.value"
  (click)="searchVarBox.value='' "
  > <!-- Se existir a variavel de template digitada mostra o botao close
         Ao clicar no ícone de fechar ele atribui string vazia ao input
  -->
    <mat-icon>close</mat-icon>
  </button>

  <mat-autocomplete #autoABC="matAutocomplete"
    (optionSelected)="onSelected($event); searchVarBox.value='' ">
    <!-- O uso de pipe | async representa um subscribe, porém, no template html -->
    <mat-option *ngFor="let item of heroes$ | async" [value]="item">
      {{ item.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
