  <h1>{{ isEditing ? "Update " : "Cretate " }} Hero </h1>

  <form [formGroup]="form" novalidate>
  <mat-card>
      <mat-card-content>
        <!-- ID -->
        <mat-form-field *ngIf="isEditing">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>

        <!-- NAME -->
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput id="name" formControlName="name" type="text" >

            <mat-error *ngIf="form.controls['name'].hasError('required')">
              Name is required.
            </mat-error>

            <mat-error *ngIf="form.controls['name'].hasError('minlength')">
              Name should contain at least 3 characters.
            </mat-error>

        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
          <button color="primary" mat-raised-button *ngIf="!isEditing" (click)="save()">Criar</button>
          <button color="primary" mat-raised-button *ngIf="isEditing" (click)="edit()">Editar</button>
          <button mat-raised-button (click)="goBack()">Voltar</button>
      </mat-card-actions>
  </mat-card>
</form>
