  <h1>{{ isEditing ? "Update " : "Cretate " }} Hero </h1>

  <mat-card>
      <mat-card-content>
        <mat-form-field appearance="fill" *ngIf="isEditing">
          <mat-label>ID</mat-label>
          <input matInput placeholder="id" disabled [value]="heroDetail.id">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput id="name" placeholder="name" type="text" [(ngModel)]="heroDetail.name">
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
          <button color="primary" [disabled]="!isValid()" mat-raised-button *ngIf="!isEditing" (click)="save()">Criar</button>
          <button color="primary" [disabled]="!isValid()" mat-raised-button *ngIf="isEditing" (click)="edit()">Editar</button>
          <button mat-raised-button (click)="goBack()">Voltar</button>
      </mat-card-actions>
  </mat-card>
