.mat-row:hover{
  cursor: pointer;
  background-color: whitesmoke;
}

.add-button{
  position: absolute;
  right: 20px;
  top: 66px;
}

.mat-column-id{
  max-width: 60px;
}

.mat-column-actions{
  border-left: 1px solid currentColor;
  max-width: 70px;
  padding-left: 30px;
}
